asgiref==3.5.2
Django==3.2.15
djangorestframework==3.14.0
mysqlclient @ file:///C:/Users/admin/Desktop/dj-rest/tutorial/mysqlclient-1.4.6-cp37-cp37m-win_amd64.whl
pytz==2022.2.1
sqlparse==0.4.3
typing_extensions==4.3.0
